{% extends "base.html" %}
{% block title %}Chi Tiết Sản Phẩm{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <img src="{{ sanpham.hinh_anh.url }}" class="img-fluid" alt="{{ sanpham.ten_sp }}">
    </div>
    <div class="col-md-6">
        <h2>{{ sanpham.ten_sp }}</h2>
        <p>{{ sanpham.mo_ta }}</p>
        <h4>Giá: {{ sanpham.gia }} VNĐ</h4>
    </div>
    <div class="d-flex gap-3 mt-4">
        <form method="post" action="{% url 'Web_Com:them_vao_gio' sanpham.id_sp %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success">
                🛒 Thêm vào giỏ
            </button>
        </form>
        <a href="{% url 'Web_Com:them_vao_gio' sanpham.id_sp %}?redirect=giohang" class="btn btn-success">
            🛍 Mua ngay
        </a>
    </div>
    
</div>
{% endblock %}
