{% extends "login.html" %}
{% block content %}
<div class="form-container">
  <h2>Đăng ký</h2>
  <form method="post">
    {% csrf_token %}
    <label>Họ tên:</label>
    {{ form.ten_kh }}
    <label>Số điện thoại:</label>
    {{ form.sdt }}
    <label>Địa chỉ:</label>
    {{ form.dia_chi }}
    <label>Email:</label>
    {{ form.email }}
    <label>Tên đăng nhập:</label>
    {{ form.ten_dn }}
    <label>Mật khẩu:</label>
    {{ form.mk }}
    <button type="submit">Đăng ký</button>
  </form>
</div>
{% endblock %}
