{% extends 'base.html' %}
{% block title %}Thông tin cá nhân{% endblock %}

{% block content %}
<div class="container my-5" style="max-width: 600px;">
    <h3 class="text-success mb-4 text-center">👤 Thông tin cá nhân</h3>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label>Họ tên</label>
            <input type="text" name="ten_kh" class="form-control" value="{{ kh.ten_kh }}" required>
        </div>
        <div class="mb-3">
            <label>Số điện thoại</label>
            <input type="text" name="sdt" class="form-control" value="{{ kh.sdt }}" required>
        </div>
        <div class="mb-3">
            <label>Địa chỉ</label>
            <input type="text" name="dia_chi" class="form-control" value="{{ kh.dia_chi }}" required>
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" value="{{ kh.email }}" required>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-success">Cập nhật</button>
        </div>
    </form>
</div>
{% endblock %}
